.game_stats_area {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  margin-bottom: 2em;
}

.display {
  border: thick solid gray;
  box-shadow: 5px 5px 10px 2px gray;
  padding: 1em;
  text-align: center;

  .icon {
    font-size: 5em;
  }
  .label {
    font-size: 1.5em;
  }

}

.player {
  background-color: lightblue;
}

.computer {
  background-color: pink;
}

.winner {
  border-color: gold;
}

.tie {
  border-color: red;
}

.leaderboard {
  font-size: 0.25em;
  table {
    margin: 0.5em;
    border: thin solid lightgray;
    border-style: collapse;
    width: 100%;
  }

  th, td {
    border: thin solid lightgray;
    border-style: collapse;
  }

  th {
    color: darkblue;
    background-color: bisque;
  }

  td {
    text-align: center;
  }
}

.tournament_results {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

fieldset {
  font-size: 1.5em;

  input[type=submit] {
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
    background-color: greenyellow;
  }
}